<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Uploaded Image</h1>

  <% if (image) { %>
    <img src="/uploads/<%= image %>" alt="Uploaded Image" width="300">
  <% } else { %>
    <p>No image uploaded yet.</p>
  <% } %>

  <br><br>
  <a href="/upload">Upload New Image</a>
</body>
</html>